.h1:hover{
    color: chartreuse;
}

.fbb{
    background-color: white;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}
img {
    margin: 15px 0;
    border-radius: 50px;
    width: 50px;
    height: 50px; 
    object-fit: cover; 
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

button {
    background-color: blue;
    color: white;
    padding: 8px 15px;
    border: 1px solid blue;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.create-btn {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.create-btn:hover {
    background-color: blue;
    color: white;
}

a {
    color: blue;
    text-decoration: revert;
}
a:hover {
    color: darkblue;
}
.btn-log{
    padding-left: 50px;
    padding-right: 50px;
}
.main {
    display: flex;
}
.left {
    margin-left: 200px;
    width: 400px;
    margin-top: 180px;
}
.fbb {
    margin-top: 100px;
    margin-left: 250px;
}