body {
    background-image: url('two bros 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.header {
    background-color: rgb(0, 0, 0 0.0);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    padding-left: 50px;
}
.img-text {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
}
#language {
    border: none;
    background-color: rgba(29, 27, 27, 0.0);
    font-size: 16px;
    font-weight: bold;
    color: white;
}
option {
    background-color: black;
    color: white;
    font-weight: bold;
}
.text {
    color: white;
    font-weight: bold;
    margin-left: 100px;
}