body, html {
    margin: 0;
    padding: 0;
}

nav.navbar {
    position: fixed;
    z-index: 1000;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    padding: 15px 30px;
    padding-left: 80px;
}
.nav-link {
    position: relative;
    padding-bottom: 4px;
}
.orange-dot {
    color: orangered;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: rgb(255, 123, 0);
    transition: 0.3s ease;
    transform: translateX(-50%);
}
.nav-link.dropdown-toggle::after {
    display: none;
}

.nav-link:hover::after {
    width: 100%;
}

.carousel-item img {
    height: 100vh;
    width: 100%;
}
.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;     
    background: rgba(0,0,0,0.55); 
    z-index: 1;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.dropdown-menu {
    margin-bottom: 15px;
}
/* mobile menu background */
@media (max-width: 991px) {
  .navbar-collapse {
    background: black;
    border-radius: 20px;
    padding: 20px;
  }
}
.nav-btn {
    background-color: rgb(255, 123, 0) !important;
    color: white !important;
    border: none !important;
}
.carousel-image {
    height: 100vh;
}
.intro {
    font-size: 50px;
}
.abtdiv-2 h2 {
    font-size: 50px;
}
.abtdiv-3 {
    font-weight: lighter;
    margin-left: 15px;
}
.icon2 h5 {
    margin-left: 15px !important;
}
.intro-2 {
    font-size: 50px;
    padding-bottom: 12px;
    display: inline-block;
    border-bottom: 2px solid rgb(255, 123, 0);
}
/* desktop stays clean */
@media (min-width: 992px) {
  .navbar-collapse {
    background: transparent;
  }
}
.nav-btn:hover {
    background-color: white !important;
    color: rgb(255, 123, 0) !important;
}
.Page-2 {
    height: auto;
    min-height: 120vh;
    background-color: white;
}
.section-title {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.section-title::after {
  content: "";
  width: 90px;
  height: 1px;
  background:rgb(255, 123, 0);
  margin-top: 10px;
}

.img-wrap {
  position: relative;
}

.badge {
  position: absolute;
  display: inline-block;
  top: 20px;
  right: 7px;
  background: rgb(255, 123, 0);
  color: white;
  padding: 25px !important;
  text-align: center;
}

.badge {
    border-radius: 10px 0 0 10px !important;
}
.analyst {
    height: 100vh;
    width: 75vh;
    border-radius: 20px;
    object-fit: cover;
}
.check {
    font-size: 18px !important;
    color: rgb(255, 123, 0);
    display: inline-block;
}
.fa-solid, .fa-brands {
    font-size: 40px;
    color: rgb(255, 123, 0);
    transition: transform 0.3s ease, color 0.3s ease;
}
.fa-solid:hover, .fa-brands:hover {
  transform: scale(1.2);
}
.fa-square-check {
    font-size: 20px;
    color: rgb(255, 123, 0);
    display: inline-block;
}
.pg-2-btn {
    background-color: rgb(255, 123, 0) !important;
    padding: 10px !important;
    border: none !important;
}
.content h2 {
    font-size: 45px;
}
.content p {
    font-size: 20px;
}
.content button {
    background-color: rgb(255, 123, 0) !important;
     border: none !important;
}
.mini-header {
    width: fit-content;
    background-color: rgba(255, 234, 209, 0.7);
    color: rgb(255, 123, 0);
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.Page-3 {
    height: auto;
    min-height: 80vh;
    background: white;
}
.card-body h5 {
    color: rgb(255, 123, 0);
}
.card {
    width: 18rem !important;
    height: 300px !important;
}
.analysts {
    display: block;
    height: auto;
    width: 70vh;
    object-fit: cover;
    margin: 0 auto;
}
.Page-5 {
    height: auto;
    min-height: 75vh;
    background-color: black;
}
.card.card1 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width:350px;
  border-radius:20px
}
.card1 h5,
.card1 p {
  margin-bottom: 0 !important;
}
#eight {
    position: relative;
    bottom: 22px;
    font: 35px !important;
    font-weight: bold;
}
#nine {
    font-size: 50px;
    font-weight: bold;
}

.card.card2:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
}
.card2 {
    width: 280px;
    border-radius: 20px;
}
.filter-tabs{
  display:flex;
  gap:12px;
}

.tab{
  border:none;
  padding:10px 18px;
  border-radius:999px;
  background:#fff2e6;
  color:#ff7a00;
  font-weight:500;
  cursor:pointer;
}

.tab.active{
  background:#ff7a00;
  color:#fff;
}
.icon-strip{
  background:#f5efef;
  padding:3rem;
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
  font-size:2rem;
  justify-content:center;
  gap:3.2rem;
}
.card-img-top {
    width: 19rem !important;
    border-radius: 15px 15px 0 0 !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); 
}
.card-header {
    border-radius: 0 0 15px 15px !important;
    width: 19rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px !important;

}
.mini-header-1 {
    width: fit-content;
    background-color: rgba(255, 234, 209, 0.7);
    color: rgb(255, 123, 0);
    border-radius: 25px;
    border: none;
    padding: 5px;
}
.Page-8 {
   background:  #f5efef;
}
#shield {
    font-size: 60px;
    color: rgb(255, 123, 0);
    transition: transform 0.3s ease, color 0.3s ease;
}
.card8 {
    width: 18rem !important;
    height: fit-content !important;
    background: white;
}
.fa-star{
    font-size: 35px !important;
    color: rgb(165, 85, 11);
}
.iconstar{
  width:60px;
  height:60px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#ffe3cc;
  border-radius:10px;
  margin-bottom: 20px;
}


