.logo {
    width: 70px;
    height: 70px;
    border-radius: 8px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa;
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding-left: 30px;
    padding-right: 30px;
}
ul {
    display: flex;
    gap: 100px;
}
ul li a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}
.nav-links {
    list-style: none;
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
}
.nav-links:hover {
    transform: scale(1.2);
    color: blue;
    font-weight: bold;
}
.btn {
    background: linear-gradient(to right, white 50%, blue 50%);
    background-size: 200% ;
    color: white;
    border: none;
    background-position: right bottom;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-position 0.6s ease ;
}
.btn:hover {
    transform: scale(1.02);
    color: blue;
    background-position: left bottom;
    border: 1px solid blue;
}
.icon-1{
    width: 50px;
    border-radius: 50%;
}
.icon-2{
    width: 50px;
}
.icon-3{
    width: 50px;
}
.icon-4{
    width: 52px;
}
.icon-5{
    width: 52px;
}
.icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
    margin-left: 100px;
}
.intro {
    font-family:'Segoe UI';
    font-size: 70px;
}
.info {
    font-family:'Segoe UI';
    font-size: 70px;
    font-weight: bold;
}
.main {
    display: flex;
    gap: 40px;
}
.text {
    margin-top: 100px;
}
p {
    font-size: 20px;
}
.rimage {
    height: 450px;
    width: 250px;
    border-radius: 30px;
}
.img {
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    height: 450px;
    margin-left: 100px;
}